@charset "UTF-8";

@font-face {
  font-family: "leporellion-musictypewriter-1b";
  src:url("fonts/leporellion-musictypewriter-1b.eot");
  src:url("fonts/leporellion-musictypewriter-1b.eot?#iefix") format("embedded-opentype"),
    url("fonts/leporellion-musictypewriter-1b.woff") format("woff"),
    url("fonts/leporellion-musictypewriter-1b.ttf") format("truetype"),
    url("fonts/leporellion-musictypewriter-1b.svg#leporellion-musictypewriter-1b") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "leporellion-musictypewriter-1b" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="piano-standard-"]:before,
[class*=" piano-standard-"]:before {
  font-family: "leporellion-musictypewriter-1b" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.piano-standard-subcontra-octave-a2-01:before {
  content: "\41";
}
.piano-standard-subcontra-octave-ais2-02:before {
  content: "\c5";
}
.piano-standard-subcontra-octave-bb2-02:before {
  content: "\2039";
}
.piano-standard-subcontra-octave-b2-03:before {
  content: "\42";
}
.piano-standard-contra-octave-c1-04:before {
  content: "\43";
}
.piano-standard-contra-octave-cis1-05:before {
  content: "\c7";
}
.piano-standard-contra-octave-des1-05:before {
  content: "\ac";
}
.piano-standard-contra-octave-d1-06:before {
  content: "\44";
}
.piano-standard-contra-octave-dis1-07:before {
  content: "\2122";
}
.piano-standard-contra-octave-es1-07:before {
  content: "\2030";
}
.piano-standard-contra-octave-e1-08:before {
  content: "\45";
}
.piano-standard-contra-octave-f1-09:before {
  content: "\46";
}
.piano-standard-contra-octave-fis1-10:before {
  content: "\cf";
}
.piano-standard-contra-octave-ges1-10:before {
  content: "\201d";
}
.piano-standard-contra-octave-g1-11:before {
  content: "\47";
}
.piano-standard-contra-octave-gis1-12:before {
  content: "\cc";
}
.piano-standard-contra-octave-as1-12:before {
  content: "\23";
}
.piano-standard-contra-octave-a1-13:before {
  content: "\48";
}
.piano-standard-contra-octave-ais1-14:before {
  content: "\d3";
}
.piano-standard-contra-octave-bb1-14:before {
  content: "\db";
}
.piano-standard-contra-octave-b1-15:before {
  content: "\49";
}
.piano-standard-big-octave-c0-16:before {
  content: "\4a";
}
.piano-standard-big-octave-cis0-17:before {
  content: "\131";
}
.piano-standard-big-octave-des0-17:before {
  content: "\a3";
}
.piano-standard-big-octave-d0-18:before {
  content: "\4b";
}
.piano-standard-big-octave-dis0-19:before {
  content: "\2c6";
}
.piano-standard-big-octave-es0-19:before {
  content: "\fb02";
}
.piano-standard-big-octave-e0-20:before {
  content: "\4c";
}
.piano-standard-big-octave-f0-21:before {
  content: "\4d";
}
.piano-standard-big-octave-fis0-22:before {
  content: "\2d8";
}
.piano-standard-big-octave-ges0-22:before {
  content: "\fb01";
}
.piano-standard-big-octave-g0-23:before {
  content: "\4e";
}
.piano-standard-big-octave-gis0-24:before {
  content: "\203a";
}
.piano-standard-big-octave-as0-24:before {
  content: "\5e";
}
.piano-standard-big-octave-a0-25:before {
  content: "\4f";
}
.piano-standard-big-octave-ais0-26:before {
  content: "\d8";
}
.piano-standard-big-octave-bb0-26:before {
  content: "\220f";
}
.piano-standard-big-octave-b0-27:before {
  content: "\50";
}
.piano-standard-small-octave-c0-28:before {
  content: "\51";
}
.piano-standard-small-octave-cis0-29:before {
  content: "\bb";
}
.piano-standard-small-octave-des0-29:before {
  content: "\5c";
}
.piano-standard-small-octave-d0-30:before {
  content: "\52";
}
.piano-standard-small-octave-dis0-31:before {
  content: "\b8";
}
.piano-standard-small-octave-es0-31:before {
  content: "\cd";
}
.piano-standard-small-octave-e0-32:before {
  content: "\53";
}
.piano-standard-small-octave-f0-33:before {
  content: "\54";
}
.piano-standard-small-octave-fis0-34:before {
  content: "\2dd";
}
.piano-standard-small-octave-ges0-34:before {
  content: "\2dc";
}
.piano-standard-small-octave-g0-35:before {
  content: "\55";
}
.piano-standard-small-octave-gis0-36:before {
  content: "\c1";
}
.piano-standard-small-octave-as0-36:before {
  content: "\b7";
}
.piano-standard-small-octave-a0-37:before {
  content: "\56";
}
.piano-standard-small-octave-ais0-38:before {
  content: "\25ca";
}
.piano-standard-small-octave-bb0-38:before {
  content: "\201e";
}
.piano-standard-small-octave-b0-39:before {
  content: "\57";
}
.piano-standard-oneline-octave-c1-40:before {
  content: "\58";
}
.piano-standard-oneline-octave-cis1-41:before {
  content: "\d9";
}
.piano-standard-oneline-octave-des1-41:before {
  content: "\af";
}
.piano-standard-oneline-octave-d1-42:before {
  content: "\59";
}
.piano-standard-oneline-octave-dis1-43:before {
  content: "\2021";
}
.piano-standard-oneline-octave-es1-43:before {
  content: "\2c7";
}
.piano-standard-oneline-octave-e1-44:before {
  content: "\5a";
}
.piano-standard-oneline-octave-f1-45:before {
  content: "\61";
}
.piano-standard-oneline-octave-fis1-46:before {
  content: "\e5";
}
.piano-standard-oneline-octave-ges1-46:before {
  content: "\a1";
}
.piano-standard-oneline-octave-g1-47:before {
  content: "\62";
}
.piano-standard-oneline-octave-gis1-48:before {
  content: "\222b";
}
.piano-standard-oneline-octave-as1-48:before {
  content: "\201c";
}
.piano-standard-oneline-octave-a1-49:before {
  content: "\63";
}
.piano-standard-oneline-octave-ais1-50:before {
  content: "\e7";
}
.piano-standard-oneline-octave-bb1-50:before {
  content: "\2202";
}
.piano-standard-oneline-octave-b1-51:before {
  content: "\64";
}
.piano-standard-twoline-octave-c2-52:before {
  content: "\65";
}
.piano-standard-twoline-octave-cis2-53:before {
  content: "\20ac";
}
.piano-standard-twoline-octave-des2-53:before {
  content: "\b6";
}
.piano-standard-twoline-octave-d2-54:before {
  content: "\66";
}
.piano-standard-twoline-octave-dis2-55:before {
  content: "\192";
}
.piano-standard-twoline-octave-es2-55:before {
  content: "\a9";
}
.piano-standard-twoline-octave-e2-56:before {
  content: "\67";
}
.piano-standard-twoline-octave-f2-57:before {
  content: "\68";
}
.piano-standard-twoline-octave-fis2-58:before {
  content: "\aa";
}
.piano-standard-twoline-octave-ges2-58:before {
  content: "\a2";
}
.piano-standard-twoline-octave-g2-59:before {
  content: "\69";
}
.piano-standard-twoline-octave-gis2-60:before {
  content: "\2044";
}
.piano-standard-twoline-octave-as2-60:before {
  content: "\5b";
}
.piano-standard-twoline-octave-a2-61:before {
  content: "\6a";
}
.piano-standard-twoline-octave-ais2-62:before {
  content: "\ba";
}
.piano-standard-twoline-octave-bb2-62:before {
  content: "\2206";
}
.piano-standard-twoline-octave-b2-63:before {
  content: "\6b";
}
.piano-standard-threeline-octave-c3-64:before {
  content: "\6c";
}
.piano-standard-threeline-octave-cis3-65:before {
  content: "\40";
}
.piano-standard-threeline-octave-des3-65:before {
  content: "\5d";
}
.piano-standard-threeline-octave-d3-66:before {
  content: "\6d";
}
.piano-standard-threeline-octave-dis3-67:before {
  content: "\b5";
}
.piano-standard-threeline-octave-es3-67:before {
  content: "\7e";
}
.piano-standard-threeline-octave-e3-68:before {
  content: "\6e";
}
.piano-standard-threeline-octave-f3-69:before {
  content: "\6f";
}
.piano-standard-threeline-octave-fis3-70:before {
  content: "\f8";
}
.piano-standard-threeline-octave-ges3-70:before {
  content: "\7c";
}
.piano-standard-threeline-octave-g3-71:before {
  content: "\70";
}
.piano-standard-threeline-octave-gis3-72:before {
  content: "\3c0";
}
.piano-standard-threeline-octave-as3-72:before {
  content: "\7b";
}
.piano-standard-threeline-octave-a3-73:before {
  content: "\71";
}
.piano-standard-threeline-octave-ais3-74:before {
  content: "\ab";
}
.piano-standard-threeline-octave-bb3-74:before {
  content: "\ae";
}
.piano-standard-threeline-octave-b3-75:before {
  content: "\72";
}
.piano-standard-fourline-octave-c4-76:before {
  content: "\73";
}
.piano-standard-fourline-octave-cis4-77:before {
  content: "\201a";
}
.piano-standard-fourline-octave-des4-77:before {
  content: "\7d";
}
.piano-standard-fourline-octave-d4-78:before {
  content: "\74";
}
.piano-standard-fourline-octave-dis4-79:before {
  content: "\2020";
}
.piano-standard-fourline-octave-es4-79:before {
  content: "\a8";
}
.piano-standard-fourline-octave-e4-80:before {
  content: "\75";
}
.piano-standard-fourline-octave-f4-81:before {
  content: "\76";
}
.piano-standard-fourline-octave-fis4-82:before {
  content: "\221a";
}
.piano-standard-fourline-octave-ges4-82:before {
  content: "\2260";
}
.piano-standard-fourline-octave-g4-83:before {
  content: "\77";
}
.piano-standard-fourline-octave-gis4-84:before {
  content: "\2211";
}
.piano-standard-fourline-octave-as4-84:before {
  content: "\bf";
}
.piano-standard-fourline-octave-a4-85:before {
  content: "\78";
}
.piano-standard-fourline-octave-ais4-86:before {
  content: "\2248";
}
.piano-standard-fourline-octave-bb4-86:before {
  content: "\a5";
}
.piano-standard-fourline-octave-b4-87:before {
  content: "\79";
}
.piano-standard-fiveline-octave-c5-88:before {
  content: "\7a";
}
