@charset "UTF-8";

@font-face {
  font-family: "leporellion-musictypewriter-1a";
  src:url("fonts/leporellion-musictypewriter-1a.eot");
  src:url("fonts/leporellion-musictypewriter-1a.eot?#iefix") format("embedded-opentype"),
    url("fonts/leporellion-musictypewriter-1a.woff") format("woff"),
    url("fonts/leporellion-musictypewriter-1a.ttf") format("truetype"),
    url("fonts/leporellion-musictypewriter-1a.svg#leporellion-musictypewriter-1a") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "leporellion-musictypewriter-1a" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="piano-regular-"]:before,
[class*=" piano-regular-"]:before {
  font-family: "leporellion-musictypewriter-1a" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.piano-regular-a-upper-shift-a:before {
  content: "\41";
}
.piano-regular-au-vowel-alt-shift-a:before {
  content: "\c5";
}
.piano-regular-ub-vowel-alt-shift-b:before {
  content: "\2039";
}
.piano-regular-b-upper-shift-b:before {
  content: "\42";
}
.piano-regular-c-upper-shift-c:before {
  content: "\43";
}
.piano-regular-ca-vowel-alt-shift-c:before {
  content: "\c7";
}
.piano-regular-ad-vowel-alt-shift-1:before {
  content: "\ac";
}
.piano-regular-d-upper-shift-d:before {
  content: "\44";
}
.piano-regular-de-vowel-alt-shift-d:before {
  content: "\2122";
}
.piano-regular-ee-vowel-alt-shift-e:before {
  content: "\2030";
}
.piano-regular-e-upper-shift-e:before {
  content: "\45";
}
.piano-regular-f-upper-shift-f:before {
  content: "\46";
}
.piano-regular-fi-vowel-alt-shift-f:before {
  content: "\cf";
}
.piano-regular-ig-vowel-alt-shift-2:before {
  content: "\201d";
}
.piano-regular-g-upper-shift-g:before {
  content: "\47";
}
.piano-regular-go-vowel-alt-shift-g:before {
  content: "\cc";
}
.piano-regular-oh-vowel-alt-shift-3:before {
  content: "\23";
}
.piano-regular-h-upper-shift-h:before {
  content: "\48";
}
.piano-regular-hu-vowel-alt-shift-h:before {
  content: "\d3";
}
.piano-regular-ui-vowel-alt-shift-i:before {
  content: "\db";
}
.piano-regular-i-upper-shift-i:before {
  content: "\49";
}
.piano-regular-j-upper-shift-j:before {
  content: "\4a";
}
.piano-regular-ja-vowel-alt-shift-j:before {
  content: "\131";
}
.piano-regular-ak-vowel-alt-shift-4:before {
  content: "\a3";
}
.piano-regular-k-upper-shift-k:before {
  content: "\4b";
}
.piano-regular-ke-vowel-alt-shift-k:before {
  content: "\2c6";
}
.piano-regular-el-vowel-alt-shift-l:before {
  content: "\fb02";
}
.piano-regular-l-upper-shift-l:before {
  content: "\4c";
}
.piano-regular-m-upper-shift-m:before {
  content: "\4d";
}
.piano-regular-mi-vowel-alt-shift-m:before {
  content: "\2d8";
}
.piano-regular-in-vowel-alt-shift-5:before {
  content: "\fb01";
}
.piano-regular-n-upper-shift-n:before {
  content: "\4e";
}
.piano-regular-no-vowel-alt-shift-n:before {
  content: "\203a";
}
.piano-regular-oo-vowel-alt-shift-6:before {
  content: "\5e";
}
.piano-regular-o-upper-shift-o:before {
  content: "\4f";
}
.piano-regular-ou-vowel-alt-shift-o:before {
  content: "\d8";
}
.piano-regular-up-vowel-alt-shift-p:before {
  content: "\220f";
}
.piano-regular-p-upper-shift-p:before {
  content: "\50";
}
.piano-regular-q-upper-shift-q:before {
  content: "\51";
}
.piano-regular-qua-vowel-alt-shift-q:before {
  content: "\bb";
}
.piano-regular-ar-vowel-alt-shift-7:before {
  content: "\5c";
}
.piano-regular-r-upper-shift-r:before {
  content: "\52";
}
.piano-regular-re-vowel-alt-shift-r:before {
  content: "\b8";
}
.piano-regular-es-vowel-alt-shift-s:before {
  content: "\cd";
}
.piano-regular-s-upper-shift-s:before {
  content: "\53";
}
.piano-regular-t-upper-shift-t:before {
  content: "\54";
}
.piano-regular-ti-vowel-alt-shift-t:before {
  content: "\2dd";
}
.piano-regular-iu-vowel-alt-shift-8:before {
  content: "\2dc";
}
.piano-regular-u-upper-shift-u:before {
  content: "\55";
}
.piano-regular-uo-vowel-alt-shift-u:before {
  content: "\c1";
}
.piano-regular-ov-vowel-alt-shift-9:before {
  content: "\b7";
}
.piano-regular-v-upper-shift-v:before {
  content: "\56";
}
.piano-regular-vu-vowel-alt-shift-v:before {
  content: "\25ca";
}
.piano-regular-uw-vowel-alt-shift-w:before {
  content: "\201e";
}
.piano-regular-w-upper-shift-w:before {
  content: "\57";
}
.piano-regular-x-upper-shift-x:before {
  content: "\58";
}
.piano-regular-xa-vowel-alt-shift-x:before {
  content: "\d9";
}
.piano-regular-ay-vowel-alt-shift-0:before {
  content: "\af";
}
.piano-regular-y-upper-shift-y:before {
  content: "\59";
}
.piano-regular-ye-vowel-alt-shift-y:before {
  content: "\2021";
}
.piano-regular-ez-vowel-alt-shift-z:before {
  content: "\2c7";
}
.piano-regular-z-upper-shift-z:before {
  content: "\5a";
}
.piano-regular-a-lower:before {
  content: "\61";
}
.piano-regular-ai-vowel-alt-a:before {
  content: "\e5";
}
.piano-regular-ib-vowel-alt-1:before {
  content: "\a1";
}
.piano-regular-b-lower:before {
  content: "\62";
}
.piano-regular-bo-vowel-alt-b:before {
  content: "\222b";
}
.piano-regular-oc-vowel-alt-2:before {
  content: "\201c";
}
.piano-regular-c-lower:before {
  content: "\63";
}
.piano-regular-cu-vowel-alt-c:before {
  content: "\e7";
}
.piano-regular-ud-vowel-alt-d:before {
  content: "\2202";
}
.piano-regular-d-lower:before {
  content: "\64";
}
.piano-regular-e-lower:before {
  content: "\65";
}
.piano-regular-ea-vowel-alt-e:before {
  content: "\20ac";
}
.piano-regular-af-vowel-alt-3:before {
  content: "\b6";
}
.piano-regular-f-lower:before {
  content: "\66";
}
.piano-regular-fe-vowel-alt-f:before {
  content: "\192";
}
.piano-regular-eg-vowel-alt-g:before {
  content: "\a9";
}
.piano-regular-g-lower:before {
  content: "\67";
}
.piano-regular-h-lower:before {
  content: "\68";
}
.piano-regular-hi-vowel-alt-h:before {
  content: "\aa";
}
.piano-regular-ii-vowel-alt-4:before {
  content: "\a2";
}
.piano-regular-i-lower:before {
  content: "\69";
}
.piano-regular-io-vowel-alt-i:before {
  content: "\2044";
}
.piano-regular-oj-vowel-alt-5:before {
  content: "\5b";
}
.piano-regular-j-lower:before {
  content: "\6a";
}
.piano-regular-ju-vowel-alt-j:before {
  content: "\ba";
}
.piano-regular-uk-vowel-alt-k:before {
  content: "\2206";
}
.piano-regular-k-lower:before {
  content: "\6b";
}
.piano-regular-l-lower:before {
  content: "\6c";
}
.piano-regular-la-vowel-alt-l:before {
  content: "\40";
}
.piano-regular-am-vowel-alt-6:before {
  content: "\5d";
}
.piano-regular-m-lower:before {
  content: "\6d";
}
.piano-regular-me-vowel-alt-m:before {
  content: "\b5";
}
.piano-regular-en-vowel-alt-n:before {
  content: "\7e";
}
.piano-regular-n-lower:before {
  content: "\6e";
}
.piano-regular-o-lower:before {
  content: "\6f";
}
.piano-regular-oi-vowel-alt-o:before {
  content: "\f8";
}
.piano-regular-ip-vowel-alt-7:before {
  content: "\7c";
}
.piano-regular-p-lower:before {
  content: "\70";
}
.piano-regular-po-vowel-alt-p:before {
  content: "\3c0";
}
.piano-regular-oq-vowel-alt-8:before {
  content: "\7b";
}
.piano-regular-q-lower:before {
  content: "\71";
}
.piano-regular-qu-vowel-alt-q:before {
  content: "\ab";
}
.piano-regular-ur-vowel-alt-r:before {
  content: "\ae";
}
.piano-regular-r-lower:before {
  content: "\72";
}
.piano-regular-s-lower:before {
  content: "\73";
}
.piano-regular-sa-vowel-alt-s:before {
  content: "\201a";
}
.piano-regular-at-vowel-alt-9:before {
  content: "\7d";
}
.piano-regular-t-lower:before {
  content: "\74";
}
.piano-regular-te-vowel-alt-t:before {
  content: "\2020";
}
.piano-regular-eu-vowel-alt-u:before {
  content: "\a8";
}
.piano-regular-u-lower:before {
  content: "\75";
}
.piano-regular-v-lower:before {
  content: "\76";
}
.piano-regular-vi-vowel-alt-v:before {
  content: "\221a";
}
.piano-regular-iw-vowel-alt-0:before {
  content: "\2260";
}
.piano-regular-w-lower:before {
  content: "\77";
}
.piano-regular-wo-vowel-alt-w:before {
  content: "\2211";
}
.piano-regular-ox-vowel-alt-sharp-s:before {
  content: "\bf";
}
.piano-regular-x-lower:before {
  content: "\78";
}
.piano-regular-xu-vowel-alt-x:before {
  content: "\2248";
}
.piano-regular-uy-vowel-alt-y:before {
  content: "\a5";
}
.piano-regular-y-lower:before {
  content: "\79";
}
.piano-regular-z-lower:before {
  content: "\7a";
}
