 /* stylesheet for mySMOL search engine to reference in top of head-section in html document */
* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/mySMOL.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#mySMOL {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#mySMOL th, #mySMOL td {
  text-align: left;
  padding: 12px;
}

#mySMOL tr {
  border-bottom: 1px solid #ddd;
}

#mySMOL tr.header, #mySMOL tr:hover {
  background-color: #f1f1f1;
}
